# Server
PORT=5000
NODE_ENV=development

# MongoDB
MONGO_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/pos_coordinator?retryWrites=true&w=majority

# Branch URLs
BRANCH_BEKASI_URL=http://localhost:3001
BRANCH_JAKARTA_URL=http://localhost:3002
BRANCH_BANDUNG_URL=http://localhost:3003
BRANCH_SEMARANG_URL=http://localhost:3004
BRANCH_SURABAYA_URL=http://localhost:3005

# 2PC Timeouts
CAN_COMMIT_TIMEOUT_MS=5000
DO_COMMIT_TIMEOUT_MS=10000
RECOVERY_INTERVAL_MS=30000
